@use "../../../../index.scss" as style;

.today-offers {
  .card {
    box-shadow: none;

    h4 {
      color: style.$primary-collor;
    }
  }
  .description {
    width: 90%;
  }

  .text-orange {
    color: style.$primary-collor;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
