@use "../../../index.scss" as style;

.quantity {
  border: 1px solid style.$primary-collor;

  .btn-custom-right {
    color: style.$primary-collor;

    &:hover {
      background-color: style.$primary-collor;
      color: white;
      border-radius: 0px 4px 4px 0px;
    }

    &:disabled {
      background-color: rgb(196, 196, 196);
      color: white;
    }
  }

  .btn-custom-left {
    color: style.$primary-collor;

    &:hover {
      background-color: style.$primary-collor;
      color: white;
      border-radius: 4px 0px 0px 4px;
    }

    &:disabled {
      background-color: rgb(230, 229, 229);
      border-radius: 4px 0px 0px 4px;
      color: white;
    }
  }
}
