@use "../../../index.scss" as style;

nav {
  .navbar-brand {
    cursor: pointer;
    width: 100px;

    img {
      width: 100px;
    }
  }

  .search {
    width: 50%;

    .nonActive {
      input {
        background: rgb(255, 255, 255, 0.25);
        border: none;
        outline: white;

        &::placeholder {
          color: white;
        }

        &:focus {
          border: 1px solid white;
        }
      }
    }
  }

  .badge {
    font-size: 8px;
  }

  .avatar {
    color: black;
    cursor: pointer;
    .Dropdowns {
      background-color: white;
      font-size: small;
      .dropdowns-item {
        &:hover {
          color: style.$primary-collor;
        }
      }
    }
    img {
      width: 25px;
      height: 25px;
      border-radius: 99px;
    }
  }
  @media screen and (max-width: 550px) {
    .navbar-brand {
      display: none;
    }
  }
}

.content-pages {
  padding-top: 80px;
}
