.cart {
  font-size: medium;
  .card-cart {
    padding: 10px 0px 0px 10px;
    .img-cart {
      width: 100px;
    }
  }
  .title {
    text-decoration: none;
    color: black;
  }
  .qty {
    width: 15%;
  }
}

.cart-empty {
  height: 75vh;
}
