$primary-collor: #fd4d05;
$secondary-collor: #ca410b;
$yellow: #ffeb7f;
$grey: #aaaaaa;

@mixin primary-button {
  width: 100%;
  background-color: $primary-collor;
  border: none;
  color: white;

  &:hover {
    background-color: $secondary-collor;
    color: white;
  }

  &:disabled {
    background-color: $grey;
    color: white;
    cursor: not-allowed;
  }
}

@mixin secondary-button {
  width: 100%;
  background-color: $yellow;
  border: none;
  color: black;

  &:hover {
    background-color: #ffe75d;
    color: black;
  }

  &:disabled {
    border: 1px solid $grey;
    background-color: #ffe75d;
    color: #e2dfca;
    cursor: not-allowed;
  }

  &:active {
    background-color: $primary-collor;
    color: white;
    border: none;
  }
}

.text-orange {
  color: $primary-collor;
}
